####  LIBRARIES  ####
pandas==1.1.5
numpy==1.19.4
PyMySQL==0.10.1
pybase64==1.1.1
requests==2.25.0
json5==0.9.5
Pillow==8.1.0
####  Package  ####
Flask==1.1.2
pyspider==0.3.10
pytest==6.2.1
selenium==3.141.0